#
# openocd-sample.cfg
#
#   This skeleton example config file holds the fields needed for the gdb
#   riscof-plugin. It also illustrates the three steps needed to complete
#   the sample. The openocd project repository is a good starting point for
#   example config files with this information.

tcl_port disabled
telnet_port disabled

# Step 1: Define 'interface' and any related fields.
#
# interface...

reset_config none

transport select jtag

# Step 2: set _CHIPNAME and define 'jtag newtap' command
#
# set _CHIPNAME ...
# jtag newtap $_CHIPNAME ...

# Step 3: set _TARGETNAME and define 'target create' command
#
# set _TARGETNAME ...
# target create $_TARGETNAME ...

scan_chain

# Expose an unimplemented CSR so we can test non-existent register access.
riscv expose_csrs 3008

init
reset halt
